<nav class="flex-row btw middle">
  <!-- start -->
  <div class="flex-row w-100 middle left">
    <div
      *ngIf="playerService.player.etat.currentJobActive"
      class="flex-row w-100 middle left">
      <p>
        {{ playerService.player.etat.currentJobActive.type | translate }}
      </p>
      <div class="bar-container w-100">
        <p class="text">
          {{ playerService.player.etat.currentJobActive.currentExperience }} /
          {{ playerService.player.etat.currentJobActive.nextLevelExperience }}
        </p>
        <div
          class="bar"
          [ngStyle]="{
            width:
              (playerService.player.etat.currentJobActive.currentExperience /
                playerService.player.etat.currentJobActive
                  .nextLevelExperience) *
                100 +
              '%'
          }"></div>
      </div>
    </div>
  </div>
  <div *ngIf="loadingService.loadComplete">
    <button class="primary" (click)="saveGame()">Save</button>
  </div>

  <!-- end -->
  <div class="flex-row middle right" *ngIf="!loadingService.loadComplete">
    <a routerLink="/game/loading" routerLinkActive="active">Play</a>
  </div>
</nav>
