<div
  class="resource flex-row left middle"
  [ngClass]="{ notHarvestable: !(resource | canHarvest) }"
  *ngIf="job.currentLevel >= resource.unlockLevel; else locked">
  <app-icon [name]="resource.icon" [pixelated]="true"></app-icon>
  <p>{{ resource.name | translate }}</p>
  <div class="harvestingBarContainer">
    <div
      class="bar"
      [ngClass]="{
        active: playerService.player.etat.currentHarvest?.name === resource.name
      }"
      [ngStyle]="{
        animationDuration: resource | harvestSpeed: job.currentLevel
      }"></div>
  </div>
</div>
<ng-template #locked>
  <div class="resource locked flex-row center middle">locked</div>
</ng-template>
