<nav class="flex-row btw middle">
  <!-- Logo -->
  <div class="flex-row middle left">
    <!-- <a routerLink="/home" class="logo" (click)="phoneMenuOpen = false">
      <img src="assets/icons/logo.svg" alt="logo" />
    </a>
    <select name="lang-options" class="basic">
      <option
        *ngFor="let lang of supportedLanguages"
        (click)="changeLang(lang.code)">
        {{ lang.label }}
      </option>
    </select> -->
  </div>

  <!-- nav items -->
  <div
    class="flex-row menu middle content"
    [ngClass]="{ active: phoneMenuOpen }">
    <a
      (click)="phoneMenuOpen = false"
      routerLink="/game"
      routerLinkActive="active"
      >Play</a
    >
  </div>
  <div class="menu nav-icon">
    <img
      *ngIf="!phoneMenuOpen"
      (click)="phoneMenuOpen = true"
      src="assets/icons/navbar.svg"
      alt="open menu" />
    <img
      *ngIf="phoneMenuOpen"
      (click)="phoneMenuOpen = false"
      src="assets/icons/close.svg"
      alt="close menu" />
  </div>
</nav>
